.about__container {
  @include container;
  display: grid;
  grid-template-columns: 150px 1fr;
  column-gap: 84px;
  padding-top: 71px;
  padding-bottom: 100px;
  padding-left: 16px;

  @include vp-1023 {
    padding: 36px 50px 60px 63px;
    column-gap: 12px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding-top: 17px;
    padding-left: 25px;
    padding-right: 25px;
    column-gap: 0;
  }
}

.about__year {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
  width: 150px;
  font-family: $roboto-condensed-font;
  font-weight: 700;
  font-size: 156px;
  line-height: 150px;
  transform: rotate(-180deg);
  writing-mode: vertical-lr;
  background-clip: text;
  color: $color-transparent;
  background-position: -180px -37px;
  background-image: url("../img/year-bg@1x.jpg");
  background-color: #00b35d;

  @include retina {
    background-size: 391%;
    background-image: url("../img/year-bg@2x.jpg");

    @media (min-width: 1024px) {
      background-position: -180px -35px;
    }
  }

  @include vp-1023 {
    margin-top: 7px;
    background-position: -179px 44px;
  }

  @include vp-767 {
    display: none;
  }
}

.about__text-wrapper {
  font-weight: 400;
  color: #041827;

  h2 {
    margin: 0;
    font-family: $roboto-condensed-font;
    font-size: 36px;
    line-height: 51px;
  }

  p {
    margin: 0;
    font-family: $pt-mono-font;
    font-size: 16px;
    line-height: 22px;

    &:first-of-type {
      margin-top: 11px;
      margin-bottom: 20px;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0 20px;
    min-height: 45px;
    min-width: 180px;
    font-family: $roboto-condensed-font;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    color: #00b2ff;
    background: transparent;
    border: 1px solid #00b2ff;
    border-radius: 3px;
    text-transform: uppercase;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;

    &:hover,
    &:focus-visible {
      background-color: #00b2ff;
      color: #ffffff;
    }

    &:active {
      background-color: #057daf;
      border-color: #057daf;
    }
  }

  @include vp-1023 {
    button {
      margin-top: 15px;
    }
  }

  @include vp-767 {
    h2 {
      font-size: 28px;
      line-height: 39px;
    }

    p {
      font-size: 14px;
      line-height: 19px;
    }

    button {
      margin-top: 13px;
      min-height: 35px;
      min-width: 160px;
    }
  }
}

.about__text-wrapper.is-closed {
  p {
    &:nth-of-type(n+4) {
      display: none;
    }
  }

  @include vp-767 {
    p {
      &:nth-of-type(n+3) {
        display: none;
      }
    }
  }
}
